.product-detail-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .product-details-container {
    flex: 1;
    padding: 20px;
  }
  
  .cart-info-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  